In [1]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\a\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\a\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)

WEBSCRAPING BOOK DATA

In [2]:
#import libraries
import requests 
from bs4 import BeautifulSoup
import pandas as pd

#send a request
url='https://books.toscrape.com/catalogue/category/books/science_22/index.html'#public url
response=requests.get(url)
response.status_code #200 means success

#parse the HTML
soup=BeautifulSoup(response.text,'lxml')

#extract data 
books=soup.find_all('article',class_='product_pod')
book_data=[]#empty list
#appending title,price and rating in book_data one by one
for book in books:
    title=book.h3.a['title']
    price=book.find('p',class_='price_color').text
    rating= book.p['class'][1]
    book_data.append([title,price,rating])

In [3]:
#creating a dataframe
df = pd.DataFrame(book_data , columns=['Title','Price','Ratinf'])
 #save to CSV
df.to_csv('book_data.csv',index=False)

#display results
df.head()

                                               Title    Price Ratinf
0  The Most Perfect Thing: Inside (and Outside) a...  Â£42.96   Four
1  Immunity: How Elie Metchnikoff Changed the Cou...  Â£57.36   Five
2  Sorting the Beef from the Bull: The Science of...  Â£44.74   Four
3  Tipping Point for Planet Earth: How Close Are ...  Â£37.55    One
4  The Fabric of the Cosmos: Space, Time, and the...  Â£55.91    One

WEBSCRAPING COVID-19 DATA

In [4]:
#sending a request
url='https://www.worldmeters.info/coronavirus/'
response = requests.get(url)
response.status_code #200 means success and 401 means fail

200

In [5]:
soup=BeautifulSoup(response.text, 'html.parser')
table= soup.find('table', id = 'main_table_countries_today')

In [7]:
headers= [] #empty list
for th in table.find_all('th'): #appending th(header name) in headers to make it the column name of data frame later
    headers.append(th.text.strip())
headers[:]

AttributeError: 'NoneType' object has no attribute 'finds_all'

In [ ]:
rows=[]
for tr in table.tbody.find_all('tr'):#appending td(values/rows) from tr in rows to make it the row values of data frame later
    cells=tr.find_all('td')
    if len(cells) > 1:
        rows = [cells.text.strip() for cell in cells]
        rows.append(row)

In [ ]:
df = pd.DataFrame(rows,columns=headers)
df.head(3)